<footer class="footer">
  <a href="#" class="footer__arrow"
    ><img src="./assets/images/ico-arrow.svg" title="" alt=""
  /></a>
  <nav class="int-nav">
    <ul class="int-nav__list">
      <li class="int-nav__item">articles</li>
      <li class="int-nav__item">books</li>
      <li class="int-nav__item">events</li>
      <li class="int-nav__item">reasons</li>
      <li class="int-nav__item">tips</li>
    </ul>
  </nav>
  <nav class="sm-nav">
    <ul class="sm-nav__list">
      <li class="sm-nav__item">twitter</li>
      <li class="sm-nav__item">instagram</li>
      <li class="sm-nav__item">mastodom.social</li>
    </ul>
  </nav>
  <p>&copy; 2021</p>
  <p>we <span class="heart">❤︎</span> components</p>
</footer>
