<footer class="footer">
  <a href="#header" class="footer__arrow" title="go to top"><img src="./assets/images/ico-arrow.svg" alt="arrow" /></a>
  <div class="wrapper footer__flex">
    <nav class="footer__nav-interest">
      <ul>
        <li><a href="https://adalab.es/" class="footer__item" title="Acceso a Adalab" target="_blank">articles</a></li>
        <li><a href="https://adalab.es/" class="footer__item" title="Acceso a Adalab" target="_blank">books</a></li>
        <li><a href="https://adalab.es/" class="footer__item" title="Acceso a Adalab" target="_blank">events</a></li>
        <li><a href="https://adalab.es/" class="footer__item" title="Acceso a Adalab" target="_blank">reasons</a></li>
        <li><a href="https://adalab.es/" class="footer__item" title="Acceso a Adalab" target="_blank">tips</a></li>
      </ul>
    </nav>
    <nav class="footer__nav-sm">
      <ul>
        <li><a href="https://adalab.es/" class="footer__item" title="Acceso a Adalab" target="_blank">twitter</a></li>
        <li><a href="https://adalab.es/" class="footer__item" title="Acceso a Adalab" target="_blank">instagram</a></li>
        <li><a href="https://adalab.es/" class="footer__item" title="Acceso a Adalab"
            target="_blank">mastodom.social</a></li>
      </ul>
    </nav>
    <div class="footer__copy">
      <p>&copy; 2021</p>
      <p>we <span class="footer__copy--heart">❤︎</span> components</p>
    </div>
  </div>
</footer>