<footer class="footer">
  <a href="#header" class="footer__arrow" title="go to top"><img src="./assets/images/ico-arrow.svg" alt="arrow" /></a>
  <div class="wrapper footer-grid">
    <nav class="int-nav">
      <ul class="int-nav__list">
        <li class="int-nav__item"><a href="https://adalab.es/" title="Acceso a Adalab" target="_blank">articles</a></li>
        <li class="int-nav__item"><a href="https://adalab.es/" title="Acceso a Adalab" target="_blank">books</a></li>
        <li class="int-nav__item"><a href="https://adalab.es/" title="Acceso a Adalab" target="_blank">events</a></li>
        <li class="int-nav__item"><a href="https://adalab.es/" title="Acceso a Adalab" target="_blank">reasons</a></li>
        <li class="int-nav__item"><a href="https://adalab.es/" title="Acceso a Adalab" target="_blank">tips</a></li>
      </ul>
    </nav>
    <nav class="sm-nav">
      <ul class="sm-nav__list">
        <li class="sm-nav__item"><a href="https://adalab.es/" title="Acceso a Adalab" target="_blank">twitter</a></li>
        <li class="sm-nav__item"><a href="https://adalab.es/" title="Acceso a Adalab" target="_blank">instagram</a></li>
        <li class="sm-nav__item"><a href="https://adalab.es/" title="Acceso a Adalab"
            target="_blank">mastodom.social</a></li>
      </ul>
    </nav>
    <div class="copy">
      <p>&copy; 2021</p>
      <p>we <span class="copy__heart">❤︎</span> components</p>
    </div>
  </div>
</footer>