// Header title
@mixin headerTitle() {
    font-family: $title;
    color: $white;
    font-size: 42px;
    text-shadow: 0 2px 3px var(--k-20);
    font-weight: bold;
    line-height: 1.31;
    text-transform: uppercase;
    text-align: center;
     
    @include tablet {
        font-size: 80px;
        line-height: 1.33;
    }

}

//arrow button
@mixin arrow() {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $white;
    line-height: 44px;
    margin-left: auto;
    margin-right: auto;
    
}

//Section title
@mixin sectionTitle() {
    font-family: $title;
    color: $black;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    text-transform: capitalize;
}

//Section article title
@mixin articleTitle() {
    font-family: $title;
    color: $black;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
}
//Section text
@mixin sectionText() {
    font-size: 18px;
    line-height: 1.67;
}

//Section button
@mixin sectionButton() {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-radius: 22.5px;
    font-size: 20px;
    line-height: 45px;
    font-weight: 500;
}

//footer font
@mixin footerFont() {
    color: $white;
    font-size: 16px;
    line-height: 1.88;
    text-transform: uppercase;
}

//Mediaqueries

@mixin tablet {
    @media all and (min-width:768px) {
        @content;
    }
}

@mixin desktop {
    @media all and (min-width:1200px) {
        @content;
    }
} 