// fonts
@mixin headerTitle() {
font-family: 'Roboto Slab', serif;
color: #ffffff;
font-size: 42px;
text-shadow: 0 2px 3px var(--k-20);
font-weight: bold;
line-height: 1.31;
text-transform: uppercase;


}

// colors
$darkBlue: #304268;
$mediumBlue: #0271bc;
$lightBlue: #8ccbea;
$white: #ffffff;
$orange: #f26002;



