.footer {
    height: 465px;
    background-color: $darkBlue;
}
.footer-grid {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer__arrow {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    @include arrow();
    animation-name: arrow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.int-nav {
    padding-top: 60px;
    &__item {
        @include footerFont();
    }
}
.sm-nav {
    padding-top: 30px;
    &__item {
        @include footerFont();
    }
}

.copy {
    padding-top: 30px;
    padding-bottom: 45px;
    color: $white;
    font-size: 14px;
    line-height: 2.14;
    &__heart {
        color: $orange;
    }
}
