.tips {
    height: 376px;
    padding-top: 30px;
    &__small {
        text-transform: capitalize;
        font-family: $regular;
        font-size: 14px;
        color: $lightBlue;
        line-height: 2.14;
    }
    &__title {
        @include sectionTitle();
        margin-bottom: 15px;
        @include tablet {
            margin-bottom: 30px;
        }
    }
    &__text {
        @include sectionText();
        color: $grey;
        margin-bottom: 30px;
    }
    &__button {
        @include sectionButton();
        width: 76px;
        border: 2px solid $orange;
        background-color: $white;
        color: $orange;
        transform: scale(1);
        transition: transform ease 0.4s;
        &:hover {
            transform: scale(1.2);
        }
        @include tablet {
            width: 91px;
        }
    }
    @include tablet {
        height: 330px;
    }
}
.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 105px 138px 138px 138px 105px;
    text-align: center;
    @include tablet {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 120px 172px 105px;
        column-gap: 27.7px; 
    }
}
.reasons {
    height: 624px;
    background-color: $iceBlue;
    &__title {
        padding-top: 30px;
        @include sectionTitle();
        @include tablet {
            grid-column: 1 / 4;

        }
    }
    &__article--title {
        padding: 0 55px;
        @include articleTitle();
        @include tablet {
            padding: 0;
        }
    }
    &__article--text {
        padding: 0 55px;
        @include sectionText;
        @include tablet {
            padding: 14px 0 0 0;
        }
    }
    &__button {
        @include sectionButton();
        margin-left: auto;
        margin-right: auto;
        width: 184px;
        background-color: $orange;
        color: $white;
        transform: scale(1);
        transition: transform ease 0.4s;
        &:hover {
            transform: scale(1.2);
        }
        @include tablet {
            grid-column: 1 / 4;
            width: 210px;

        }
    }
    @include tablet {
        height: 397px;
        
    }
}
